@import url('https://fonts.googleapis.com/css?family=Roboto:100,200')    

$colorText: rgb(220, 220, 220)
$fontPrincipal: 'Roboto'

.Login_background
    height: 100vh
    display: flex
    flex-direction: column
    position: relative

    #Login_logo
        margin: 12vh auto
        width: 23vh

    #Login_form
        margin: 0 auto
        border-radius: 0
        width: 35vh
        display: flex
        flex-direction: column
        position: relative

        #Login_mailSent
            position: absolute
            font-family: $fontPrincipal
            font-weight: 100
            font-size: 1.5vh
            color: $colorText
            white-space: nowrap
            left: 50%
            transform: translate(-50%, -50%)

        .Login_frame
            display: flex
            margin-top: 2.5vh
            height: 2.3vh
            position: relative

            .Login_logoForm
                width: 1.7vh
                margin: auto 0

            input
                width: calc(30vh)
                padding-right: 3vh
                outline: none
                border: none
                background: none
                font-style: normal
                color: $colorText
                &::placeholder
                    color: rgb(130, 130, 130)
                font-family: $fontPrincipal
                font-weight: 100
                font-size: 1.5vh
                margin: auto 0 auto 10px

            .Login_checkInput
                position: absolute
                left: 34.1vh
                top: 0.3vh
                font-family: $fontPrincipal
                font-size: 1.5vh  
                font-style: italic
                color: #e81728

            .Login_validInput
                color: rgb(130, 130, 130)
                position: absolute
                right: 0.4vh
                top: 3.6vh
                font-family: $fontPrincipal
                font-size: 1.3vh        
                white-space: nowrap
                font-style: italic

            
        .Login_line
            margin-top: 0.5vh
            border-bottom: 1px solid rgb(60,60,60)

        .Login_buttonSignIn
            background-color: #c91423
            border: none
            color: white
            font-family: $fontPrincipal
            font-weight: 200
            font-size: 1.9vh
            margin-top: 3vh
            height: 4.5vh
            border-radius: 2px
            outline: none
            cursor: pointer

        #Login_buttonsApi
            display: flex
            margin-top: 2vh
            justify-content: space-between

            .Login_buttonApi
                background-color: white
                // box-shadow: inset 0px 1px 0px white, 0px 3px 0px 0px $colorText
                // &:active
                //     box-shadow: inset 0px 1px 0px #c91423, 0px 3px 0px 0px #5b1618
                color: white
                font-family: $fontPrincipal
                font-weight: 200
                font-size: 1.9vh
                // margin: auto
                height: 4vh
                border-radius: 2px
                outline: none
                cursor: pointer
                display: flex
                justify-content: space-between
                padding: 0 2.7vh

                .Login_textApi
                    color: black
                    font-size: 1.4vh
                    margin: auto 0.7vh auto auto

                .Login_imgApi
                    width: 2.3vh
                    margin: auto auto auto 0

        #Login_signUp
            font-family: $fontPrincipal
            font-weight: 100
            font-size: 1.5vh
            margin: 1vh auto auto auto
            text-decoration: none
            color: $colorText

            #Login_bold
                font-weight: 300
                color: #c91423

    #language
        color: rgb(130, 130, 130)
        font-family: $fontPrincipal
        font-weight: 300
        font-size: 1.2vh
        position: absolute
        bottom: 5vh
        left: 50%
        transform: translate(-50%, -50%)
        display: flex
        cursor: pointer

        #arrowLanguage
            background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537910035/Netflix42/arrow-down_tshqhp.png')
            background-position: center
            background-size: cover
            width: 1vh
            height: 1vh
            margin: auto auto auto 4px


@media screen and (min-width: 700px) and (max-height: 800px)
    .Login_background
        background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537820794/Netflix42/background_revjzf.jpg')
        background-position: center
        background-size: cover
        
        #Login_logo
            position: absolute
            left: 50px
            top: 20px
            margin: 0

        #Login_form
            margin: 16vh auto auto auto

            .Login_validInput
                top: 0.6vh !important
                right: initial !important
                left: 35.7vh

        #language
            top: 4vh
            right: 7vh
            transform: initial
            left: initial
            bottom: initial
        
@media screen and (min-width: 1000px) and (min-height: 800px)
    .Login_background
        background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537820794/Netflix42/background_revjzf.jpg')
        background-position: center
        background-size: cover
        
        #Login_logo
            position: absolute
            left: 50px
            top: 20px
            margin: 0

        #Login_form
            margin: 16vh auto auto auto

            .Login_validInput
                top: 0.6vh !important
                right: initial !important
                left: 35.7vh

        #language
            top: 4vh
            right: 7vh
            transform: initial
            left: initial
            bottom: initial