@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
form {
  display: flex;
  flex-direction: column;
  padding: 3vh 30px; }
  form .picture {
    margin: auto;
    border-radius: 100%;
    cursor: pointer;
    background-position: center;
    background-size: cover; }
  form .userPictureFrame {
    margin: auto;
    cursor: pointer;
    padding: 0.7vh; }
    form .userPictureFrame #circleUserPicture {
      width: 13vh;
      height: 13vh;
      margin: auto;
      border: 2px solid #48ba4c;
      border-radius: 100%;
      position: absolute;
      margin: -0.7vh 0 0 -0.7vh; }
    form .userPictureFrame #userPicture {
      width: 12vh;
      height: 12vh; }
  form #circleEmptyPicture {
    border: 0.2vh solid #48ba4c;
    display: flex;
    width: 13vh;
    height: 13vh; }
    form #circleEmptyPicture #cameraEmptyPicture {
      background-position: center;
      background-size: cover;
      width: 4vh;
      height: 4vh;
      margin: auto; }
  form .description {
    font-family: 'Roboto';
    font-size: 1.5vh;
    font-weight: 100;
    color: #535353;
    margin: 7vh 0 0.8vh 0; }
  form input {
    background: none;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-size: 1.8vh;
    font-weight: 100;
    font-style: normal;
    outline: none; }
  form .line {
    border-top: 1px solid #535353;
    margin-top: 0.7vh; }
  form button {
    background-color: #48ba4c;
    font-family: 'Roboto';
    font-size: 1.9vh;
    color: white;
    border: none;
    margin: 7vh auto auto auto;
    border-radius: 2px;
    padding: 10px 22px; }

@media screen and (min-width: 800px) and (max-height: 800px) {
  #updateProfil {
    display: flex;
    flex-direction: column;
    height: 100vh; }
  form {
    width: 450px;
    margin: auto;
    padding: 4.5vh 150px;
    background-color: #262626;
    box-shadow: 0 0 4px 1px rgba(83, 83, 83, 0.6);
    border-radius: 4px; } }

@media screen and (min-width: 1000px) and (min-height: 800px) {
  #updateProfil {
    display: flex;
    flex-direction: column;
    height: 100vh; }
  form {
    width: 650px;
    margin: auto;
    padding: 4.5vh 150px;
    background-color: #262626;
    box-shadow: 0 0 4px 1px rgba(83, 83, 83, 0.6);
    border-radius: 4px; } }
