@import url('https://fonts.googleapis.com/css?family=Roboto:100,300')

#UpdateProfil_form
    display: flex
    flex-direction: column
    padding: 3vh 30px

    .picture
        margin: auto
        border-radius: 100%
        cursor: pointer
        background-position: center
        background-size: cover

    .userPictureFrame
        margin: auto
        cursor: pointer
        padding: 0.7vh

        #circleUserPicture
            width: 13vh
            height: 13vh
            margin: auto
            border: 1px solid #535353
            box-shadow: 0 0 0.1px 0.1px #DBDBDB
            border-radius: 100%
            position: absolute
            margin: -0.6vh 0 0 -0.6vh 

        #userPicture
            width: 12vh
            height: 12vh

    #circleEmptyPicture
        border: 0.2vh solid #48ba4c
        display: flex
        width: 13vh
        height: 13vh

        #cameraEmptyPicture
            background-position: center
            background-size: cover
            background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537535683/Netflix42/camera_kobxtp.png')
            width: 4vh
            height: 4vh
            margin: auto
            
    .description
        font-family: 'Roboto'
        font-size: 1.5vh
        font-weight: 100
        color: #535353
        margin: 7vh 0 0.8vh 0

    input
        background: none
        border: none
        color: white
        font-family: 'Roboto'
        font-size: 1.8vh        
        font-weight: 100
        font-style: normal
        outline: none

    .line
        border-top: 1px solid #535353
        margin-top: 0.7vh

    button
        background-color: #48ba4c
        font-family: 'Roboto'
        font-size: 1.9vh
        color: white    
        border: none
        margin: 7vh auto auto auto
        border-radius: 2px
        padding: 10px 22px

@media screen and (min-width: 800px) and (max-height: 800px)
    // #updateProfil
    //     display: flex
    //     flex-direction: column
    //     height: 100vh

    #UpdateProfil_form
        width: 450px
        margin: auto        
        padding: 4.5vh 150px  
        background-color: #262626
        box-shadow: 0 0 4px 1px rgba(83, 83, 83, 0.6)
        border-radius: 4px   
        
@media screen and (min-width: 1000px) and (min-height: 800px)
    // #updateProfil
    //     display: flex
    //     flex-direction: column
    //     height: 100vh

    #UpdateProfil_form
        width: 650px
        margin: auto
        padding: 4.5vh 150px
        background-color: #262626        
        box-shadow: 0 0 4px 1px rgba(83, 83, 83, 0.6)
        border-radius: 4px  