@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
#Video_block {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  #Video_block #Video_blockPlay {
    padding-top: 100px;
    height: 60%;
    min-height: 300px;
    min-width: 600px;
    margin: 0 auto;
    max-height: 50vw;
    width: 106.3vh;
    max-width: 100%;
    display: flex;
    cursor: pointer; }
    #Video_block #Video_blockPlay #videoPlayer {
      margin: auto;
      height: 100%;
      width: 100%; }
  #Video_block #Video_infos {
    display: flex;
    width: auto;
    margin-top: 4vh;
    overflow: hidden; }
    #Video_block #Video_infos #Video_infosBlock {
      margin: auto;
      width: 106.3vh;
      min-width: 600px;
      max-width: 100%;
      display: flex;
      flex-direction: column; }
      #Video_block #Video_infos #Video_infosBlock #Video_frameInfo {
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 1.4vh;
        color: gainsboro;
        padding: 0 3vh; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInfo #Video_title {
          font-size: 2.8vh;
          margin-bottom: 2vh;
          white-space: nowrap; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInfo .Video_boxInfo {
          display: flex;
          margin-bottom: 1.5vh; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInfo .Video_label {
          color: #f0f0f0; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInfo #Video_infoTxtYear {
          margin-left: 5px;
          margin-right: 50px; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInfo .Video_infoTxt {
          margin-left: 5px; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInfo #Video_boxInfoSysnopsis {
          margin-top: 2vh; }
          #Video_block #Video_infos #Video_infosBlock #Video_frameInfo #Video_boxInfoSysnopsis #Video_infoTxtSynopsis {
            margin-top: 0.7vh;
            line-height: 2.5vh;
            font-size: 1.3vh;
            font-style: italic;
            max-height: 14vh;
            overflow: auto;
            padding-right: 2px; }
            #Video_block #Video_infos #Video_infosBlock #Video_frameInfo #Video_boxInfoSysnopsis #Video_infoTxtSynopsis::-webkit-scrollbar {
              background: transparent;
              width: 8px; }
            #Video_block #Video_infos #Video_infosBlock #Video_frameInfo #Video_boxInfoSysnopsis #Video_infoTxtSynopsis::-webkit-scrollbar-thumb {
              background-color: gainsboro;
              border-radius: 10px; }
      #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment {
        display: flex;
        flex-direction: column;
        margin-top: 3.5vh;
        padding: 0 3vh; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit {
          padding-right: 3px;
          position: relative;
          margin-bottom: 1.5vh; }
          #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit #Video_input {
            width: 25.5vh;
            padding-right: 2.5vh;
            outline: none;
            border: none;
            background: none;
            font-style: normal;
            color: white;
            font-family: 'Roboto';
            font-weight: 100;
            font-size: 1.3vh; }
            #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit #Video_input::placeholder {
              color: #828282;
              font-style: italic; }
          #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit #Video_button {
            width: 1.8vh;
            cursor: pointer;
            position: absolute;
            top: 60%;
            margin-left: -16px;
            transform: translateY(-50%); }
          #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit .Video_line {
            border-bottom: 1px solid #646464;
            width: 28vh;
            position: absolute;
            bottom: -0.5vh;
            margin-right: 3px; }
        #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments {
          max-height: 18.5vh;
          display: flex;
          flex-direction: column;
          overflow: auto;
          margin: auto;
          width: 100%;
          height: 100%;
          font-family: 'Roboto';
          font-weight: 100;
          font-size: 1.3vh;
          color: gainsboro; }
          #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments::-webkit-scrollbar {
            background: transparent;
            width: 8px; }
          #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments::-webkit-scrollbar-thumb {
            background-color: gainsboro;
            border-radius: 10px; }
          #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments .Video_comment {
            margin: 0.6vh 0;
            word-break: break-all;
            line-height: 2vh; }
            #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments .Video_comment .Video_commentUser {
              color: #f0f0f0; }
            #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments .Video_comment .Video_commentMsg {
              font-size: 1.4vh; }
            #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments .Video_comment .Video_commentDate {
              color: gainsboro; }
            #Video_block #Video_infos #Video_infosBlock #Video_frameInputComment #Video_frameComments .Video_comment .Video_space {
              height: 1vh; }

@media screen and (min-width: 800px) {
  #Video_infosBlock {
    flex-direction: initial !important; }
    #Video_infosBlock #Video_frameInfo {
      width: 50% !important;
      padding: 0 !important; }
    #Video_infosBlock #Video_frameInputComment {
      width: 50%;
      padding-left: 20px !important; }
      #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit {
        text-align: right; }
        #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit #Video_button {
          right: 3px; }
        #Video_infosBlock #Video_frameInputComment #Video_frameInputSubmit .Video_line {
          right: 0; }
      #Video_infosBlock #Video_frameInputComment #Video_frameComments {
        width: 68%;
        padding-left: 30%; } }
