@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
select option {
  background: rgba(0, 0, 0, 0) !important; }

#Search_block {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  #Search_block #Search_research {
    padding-top: 110px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 70px; }
    #Search_block #Search_research #Search_allSelectFrame {
      display: flex;
      justify-content: center; }
      #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame {
        position: relative;
        margin: 0 0.5vw; }
        #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select {
          border: 1px solid #b4b4b4;
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 12px;
          position: relative; }
          #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            min-width: 31vw;
            min-height: 0;
            cursor: pointer; }
            #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control .Search_select__value-container {
              padding: 8px; }
              #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control .Search_select__value-container .Search_select__single-value {
                color: gainsboro; }
              #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control .Search_select__value-container .Search_select__placeholder {
                color: gainsboro; }
            #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control .Search_select__indicators .Search_select__indicator-separator {
              display: none; }
            #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control .Search_select__indicators .Search_select__indicator {
              padding: 5px;
              margin: 0 9px;
              background-image: url("https://res.cloudinary.com/dzhnhtkyv/image/upload/v1538760993/Netflix42/arrow_down_white.png");
              background-position: center;
              background-size: cover; }
              #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control .Search_select__indicators .Search_select__indicator svg {
                display: none; }
          #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__menu {
            margin: 0;
            border-radius: 0;
            background-color: transparent;
            color: gainsboro;
            margin: auto;
            z-index: 10; }
            #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__menu .Search_select__menu-list {
              max-height: none;
              box-shadow: 0px 1px 0px 1.3px #aaaaaa;
              padding: 0;
              background-color: rgba(22, 22, 22, 0.9);
              font-weight: 100; }
              #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__menu .Search_select__menu-list .Search_select__option {
                font-size: 12px;
                cursor: pointer; }
              #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__menu .Search_select__menu-list .Search_select__option--is-selected {
                background-color: rgba(22, 22, 22, 0);
                color: white;
                font-weight: 300;
                font-size: 13px; }
              #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__menu .Search_select__menu-list .Search_select__option--is-focused {
                background-color: rgba(22, 22, 22, 0);
                color: white;
                font-weight: 300;
                font-size: 13px; }
        #Search_block #Search_research #Search_allSelectFrame .Search_selectFrame .Search_arrow {
          position: absolute;
          width: 10px;
          height: 10px;
          top: 33%;
          right: 10px; }
    #Search_block #Search_research #Search_txtFrame {
      display: flex;
      margin: auto auto 40px auto; }
      #Search_block #Search_research #Search_txtFrame #Search_txt {
        height: 20px;
        width: 350px;
        margin: auto 0 35px 0;
        background-color: #161616;
        border: none;
        border-bottom: 1px solid #b4b4b4;
        color: white;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 15px;
        outline: none;
        padding: 3px 1px; }
        #Search_block #Search_research #Search_txtFrame #Search_txt::placeholder {
          color: #b4b4b4; }
      #Search_block #Search_research #Search_txtFrame #Search_button {
        width: 22px;
        height: 22px;
        cursor: pointer;
        margin: auto auto auto 10px; }

@media screen and (min-width: 800px) {
  #Search_research {
    justify-content: space-between !important;
    flex-direction: row !important; }
    #Search_research #Search_allSelectFrame {
      margin-left: 44px !important;
      justify-content: start !important; }
      #Search_research #Search_allSelectFrame .Search_selectFrame {
        margin-right: 30px; }
        #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select {
          font-size: 12px !important; }
          #Search_research #Search_allSelectFrame .Search_selectFrame .Search_select .Search_select__control {
            min-width: 120px !important; }
    #Search_research #Search_txtFrame {
      margin: auto 50px auto auto !important; }
      #Search_research #Search_txtFrame #Search_txt {
        width: 200px !important;
        margin: auto 0 !important; } }
