.background
    // background-image: url('../../img/background.jpg')
    background-position: center
    background-size: cover
    height: 100vh
    display: flex
    
    #form
        margin: auto
        background-color: rgba(143, 143, 143, 0.4)