@import url("https://fonts.googleapis.com/css?family=Roboto:100,300")

$colorText: rgb(220, 220, 220)
$fontPrincipal: 'Roboto'

.background
    height: 100vh
    display: flex
    flex-direction: column
    position: relative

    #logo
        margin: 12vh auto
        width: 23vh
    
    #Register_form
        margin: 0 auto
        border-radius: 0
        width: 35vh
        // border: 1px solid red
        display: flex
        flex-direction: column

        .Register_frame
            display: flex
            margin-top: 2.5vh
            height: 2.3vh
            position: relative

            .logoForm
                width: 1.7vh
                // border: 1px solid red
                margin: auto 0

            input
                width: calc(30vh)
                padding-right: 3vh
                outline: none
                border: none
                background: none
                font-style: normal
                color: $colorText
                &::placeholder
                    color: rgb(130, 130, 130)
                font-family: $fontPrincipal
                font-weight: 100
                font-size: 1.5vh
                margin: auto 0 auto 10px
            
            .Register_validInput
                color: $colorText
                position: absolute
                left: 34.1vh
                top: 0.3vh
                font-family: $fontPrincipal
                font-size: 1.3vh        
                white-space: nowrap

                .Register_checkInput
                    margin-right: 7px  
                    font-size: 1.5vh  
            
        .Register_line
            margin-top: 0.5vh
            border-bottom: 1px solid rgb(60,60,60)

        button
            background-color: #c91423
            border: none
            color: white
            font-family: $fontPrincipal
            font-weight: 300
            font-size: 1.9vh
            margin-top: 3vh
            height: 4.5vh
            border-radius: 2px
            outline: none
            cursor: pointer

        #signIn
            font-family: $fontPrincipal
            font-weight: 200
            font-size: 1.5vh
            margin: 1vh auto auto auto
            text-decoration: none
            color: $colorText    
            
            #bold
                font-weight: 300
                color: #c91423

    #language
        color: rgb(130, 130, 130)
        font-family: $fontPrincipal
        font-weight: 300
        font-size: 1.2vh
        position: absolute
        top: 4vh
        right: 7vh
        display: flex

        #arrowLanguage
            background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537910035/Netflix42/arrow-down_tshqhp.png')
            background-position: center
            background-size: cover
            width: 1vh
            height: 1vh
            margin: auto auto auto 4px

@media screen and (min-width: 700px) and (max-height: 800px)
    .background
        background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537820794/Netflix42/background_revjzf.jpg')
        background-position: center
        background-size: cover
        
        #logo
            position: absolute
            left: 50px
            top: 20px
            border: 1px solid green
            margin: 0

        #Register_form
            margin: 7vh auto auto auto
        
@media screen and (min-width: 1000px) and (min-height: 800px)
    .background
        background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537820794/Netflix42/background_revjzf.jpg')
        background-position: center
        background-size: cover
        
        #logo
            position: absolute
            left: 50px
            top: 20px
            margin: 0

        #Register_form
            margin: 7vh auto auto auto