#nav
    display: flex
    justify-content: space-around
    
       
#logOut
    background-image: url('https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537537174/Netflix42/logout_wwkagl.png')
    background-position: center
    background-size: cover
    width: 25px
    height: 25px