@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200");
#nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 6px 40px;
  position: relative; }
  #nav #logo {
    margin: auto 0; }
    #nav #logo img {
      width: 18vh; }
  #nav #language {
    color: #828282;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2vh;
    position: absolute;
    bottom: -0.5vh;
    left: 22vh;
    transform: translate(-50%, -50%);
    display: flex;
    cursor: pointer; }
    #nav #language #arrowLanguage {
      background-image: url("https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537910035/Netflix42/arrow-down_tshqhp.png");
      background-position: center;
      background-size: cover;
      width: 1vh;
      height: 1vh;
      margin: auto auto auto 4px; }
  #nav #link {
    display: flex;
    margin: auto 0;
    width: 400px; }
    #nav #link .title {
      margin: auto;
      font-family: 'Raleway', sans-serif;
      font-size: 1.8vh;
      color: gainsboro;
      text-decoration: none; }
