@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200");
#nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #161616;
  padding: 10px 0; }
  #nav #logo {
    margin: auto 0;
    padding: 10px 0 0 40px; }
    #nav #logo img {
      width: 150px; }
  #nav #language {
    color: #828282;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 10px;
    position: absolute;
    bottom: -3px;
    left: 177px;
    transform: translate(-50%, -50%);
    display: flex;
    cursor: pointer; }
    #nav #language #arrowLanguage {
      background-image: url("https://res.cloudinary.com/dzhnhtkyv/image/upload/v1537910035/Netflix42/arrow-down_tshqhp.png");
      background-position: center;
      background-size: cover;
      width: 8px;
      height: 8px;
      margin: auto auto auto 4px; }
  #nav #trigramMenu {
    margin: auto 20px;
    display: flex; }
    #nav #trigramMenu #trigram {
      background-image: url("https://res.cloudinary.com/dzhnhtkyv/image/upload/v1538836968/Netflix42/menu-button.png");
      background-position: center;
      background-size: cover;
      cursor: pointer;
      width: 22px;
      height: 22px;
      margin: auto; }
  #nav #link {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    right: 21px;
    top: 38px; }
    #nav #link .title {
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      color: #b4b4b4;
      text-decoration: none;
      margin: 5px 0 auto auto; }
      #nav #link .title:active {
        color: gainsboro; }
    #nav #link .titleActive {
      color: #fafafa; }

#logOut {
  cursor: pointer; }

@media screen and (min-width: 800px) {
  #trigram {
    display: none !important; }
  #link {
    position: initial !important;
    flex-direction: initial !important;
    width: 400px; }
    #link .title {
      margin: auto !important; } }
